.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    height: 3.5em;
    font-size: 20px;
    bottom: 0;
}